  #PlayStopButton {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: top;
    left: -15;
    background: rgba(116, 116, 116, 0.473);
    color: #f1f1f1;
    width: 100%;
    padding: 25px;
  }

  @font-face{
    font-family: 'starwars';
    src: url(Fonts/starjedi/Starjedi.ttf);
    font-style: normal;
    font-weight: 100;
    font-size: large;
}

h2{
    font-family: starwars;
    font-weight: 500;
    font-size: small;
    text-align: center;
    color: rgb(0, 0, 0);
}

h1{
    font-family: starwars;
    font-weight: 500;
    font-size: small;
    text-align: center;
    color: rgb(255, 253, 123);
}

.grid-container {
    display: grid;
    column-gap: 33%;
    grid-template-columns: auto auto auto;
    background-color: #00000000;
    padding: 10px;
  }

  table, th, td {
    border:3px solid black;
    margin: auto;
    font-family: starwars;
    font-weight: 500;
    font-size: small;
    color: rgb(0, 0, 0);
    text-align: center;
  }